.auth{
    white-space: nowrap;
    padding: 7px 14px;
    font-weight: 500;
}
.mat-card{
  float:right;

}
.logo {
//  transform: translate(50%,40%);
margin-left: 20%;
margin-top: 2%;
margin-bottom: 5%;
}

.matCard{
  padding: 3%;
  width:300px;
  margin-right: 40px;
  border-radius: 4%;
}

.form_div{
  margin: auto;
  width: 95%;
  // background-color: white;
  // margin-bottom: 10%;
}
.inner_div{
  margin:auto;
  // margin-top: 10%;
  width:85%;
}
