.InnerMenu{
  width: 75%;
  /* padding-bottom: 100px; */
}
.SideMenu{
  width: 25%;
}


/* Inner Menu */
.PostButton{
    margin-top: 5%;
    object-fit: scale-down;
}
.InnerAds{
margin-top: 15%;
}

/* My Favourites */
.Favourites .AdItem{
  margin-bottom:2%;
  overflow: hidden;
  border-radius: 0.5px;
  box-shadow:5px 6px 6px #bfbdc1, -1px -1px 6px #bfbdc1;
  height: 150px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.Favourites .ImageSide{
  height: 100%;
  width: 50%;
}

.Favourites .ImageSideImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Favourites .CheckedImage{
  height: 12px;
  object-fit: cover;
  float: right;
  cursor: pointer;
 }
.Favourites .DescriptionSide{
  /* background-color: #f4f4f4; */
  height: 100%;
  width: 50%;
  font-size:40%;
  margin-left:5px;

}

.Favourites  .AdDescription{
  float:left;
  text-Align:left;
  font-size: 130%;
  margin-bottom:10px;
  width: 100%;
  text-overflow: clip;
  height: 20%;
}
.Favourites .AdTitle{
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;

  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  float:left;
  margin-bottom:5px;
  width: 100%;
  text-overflow: clip;
  height: 15%;

}
.Favourites .rightdiv{
  display: flex;
  padding: 0px;
  font-family: proxs;
  margin-bottom:2px;
  margin-left:-5px;
  width: 100%;
  height: 10%;
  align-items: center;
}
.Favourites .pricediv{
  margin-top: 5%;
  display: flex;
  align-items: baseline;
}
.Favourites .storage_color_image{
  align: left;
  object-fit:scale-down;
  height:80%;
}
.Favourites .edit{
  float: right;
  text-align: right;
  color: red;
  font-size: 50%;
  margin-left: 20%;
}

/* My Ads */
.MyAds .view{
  color: blue;
  float: right;
  cursor: pointer;
  font-family: proxr;
  font-size: 80%;
}
.MyAds .enable{
  color: red;
  float: right;
  margin-left: 10%;
  cursor: pointer;
  font-family: proxr;
  font-size: 80%;
}
.MyAds .cancel{
  cursor: pointer;
  font-family: proxr;
  font-size: 80%;
}
.MyAds .modal_title{
  font-size: 120%;
  font-family: proxr;
}
.modal-content{
  border: 0px !important;
  height: 60px;
  min-height: 0px !important;
  font-family: proxr;
}
.jinke-modal-mask .jinke-modal{
  min-height: 0px !important;
  font-family: proxr;
}
.jinke-modal-mask .jinke-modal .modal-header{
  padding: 0px 0px 0px 0px !important;
  margin-left:5%;
  margin-top:5%;
  border-bottom:0px !important;
}
.jinke-modal-mask .jinke-modal .modal-header .modal-close-btn{
  top:-15px;
}
.MyAds .AdItem{
  margin-bottom:2%;
  overflow: hidden;
  border-radius: 0.5px;
  box-shadow:5px 6px 6px #bfbdc1, -1px -1px 6px #bfbdc1;
  height: 150px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.MyAds .ImageSide{
  height: 100%;
  width: 50%;
}

.MyAds .ImageSideImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.MyAds .CheckedImage{
  height: 12px;
  object-fit: cover;
  float: right;
 }
.MyAds .DescriptionSide{
  /* background-color: #f4f4f4; */
  height: 100%;
  width: 50%;
  font-size:40%;
  margin-left:5px;

}

.MyAds  .AdDescription{
  float:left;
  text-Align:left;
  font-size: 130%;
  margin-bottom:10px;
  width: 100%;
  text-overflow: clip;
  height: 20%;
}
.MyAds .AdTitle{
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;

  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  float:left;
  margin-bottom:5px;
  width: 100%;
  text-overflow: clip;
  height: 15%;

}
.MyAds .rightdiv{
  display: flex;
  padding: 0px;
  font-family: proxs;
  margin-bottom:2px;
  margin-left:-5px;
  width: 100%;
  height: 10%;
  align-items: center;
}
.MyAds .pricediv{
  margin-top: 5%;
  display: flex;
  align-items: baseline;
}
.MyAds .storage_color_image{
  align: left;
  object-fit:scale-down;
  height:80%;
}
.MyAds .edit{
  float: right;
  text-align: right;
  color: red;
  font-size: 50%;
  margin-left: 50px;
}

/* Offers */
.Offers .AdItem{
  margin-bottom:2%;
  overflow: hidden;
  border-radius: 0.5px;
  box-shadow:5px 6px 6px #bfbdc1, -1px -1px 6px #bfbdc1;
  height: 150px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.Offers .ImageSide{
  height: 100%;
  width: 50%;
}
.Offers .update_offer_button{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 200%;
  height: 25%;
  width: 40%;
  float: right;
  margin-top: -20%;
  margin-right: 10%;
}
.accept_offer_button{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 100%;
  height: 30%;
  width: 30%;
  float: left;
  margin-left:5%;
}
.Offers .counter_offer_button{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 65%;
  height: 20%;
  width: 30%;
  float: right;
  margin-top: -15%;
  margin-right: 5%;
}
.Offers .rejected_offer_button{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 80%;
  height: 20%;
  width: 30%;
  float: right;
  margin-top: -15%;
  margin-right: 5%;
}
.reject_offer_button{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 100%;
  height: 30%;
  width: 30%;
  float: right;
  margin-right:5%;

}
.reject_offer_button:hover{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 100%;
  height: 30%;
  width: 30%;
  float: right;
  margin-right:5%;
}
.accept_offer_button:hover{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 100%;
  height: 30%;
  width: 30%;
  float: left;
  margin-left:5%;
}
.Offers .actions_offer_button{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 90%;
  height: 20%;
  width: 30%;
  float: right;
  margin-top: -15%;
  margin-right: 5%;
}
.Offers .actions1_offer_button{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 65%;
  height: 20%;
  width: 30%;
  float: right;
  margin-top: -15%;
  margin-right: 5%;
}

.Offers .ImageSideImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Offers .CheckedImage{
  height: 12px;
  object-fit: cover;
  float: right;
 }
 .Offers .offer_inp{
     margin-left:17%;
 }
 .Offers .offer_input{
   /* width: 60%; */
   border: 1px solid #dbd6d6;
   border-radius: 5px 5px 5px 5px;
   height: 35px;
   border-top:0px;
   border-left:0px;
   border-right:0px;
 }
.Offers .DescriptionSide{
  /* background-color: #f4f4f4; */
  height: 100%;
  width: 50%;
  font-size:40%;
  margin-left:5px;

}

.Offers  .AdDescription{
  float:left;
  text-Align:left;
  font-size: 130%;
  /* margin-bottom:10px; */
  width: 100%;
  text-overflow: clip;
  height: 25%;
}
.Offers .AdTitle{
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;

  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  float:left;
  margin-bottom:5px;
  width: 100%;
  text-overflow: clip;
  height: 15%;

}
.Offers .rightdiv{
  display: flex;
  padding: 0px;
  font-family: proxs;
  margin-bottom:2px;
  margin-left:-5px;
  width: 100%;
  height: 10%;
  align-items: center;
}
.Offers .pricediv{
  margin-top: 3%;
  display: flex;
  align-items: baseline;
}
.Offers .pricediv_my{
  margin-bottom: 3px;
  display: flex;
  align-items: baseline;
}
.Offers .storage_color_image{
  align: left;
  object-fit:scale-down;
  height:80%;
}
.Offers .edit{
  float: right;
  text-align: right;
  color: red;
  font-size: 50%;
  margin-left: 20%;
}
.Offers .MyAdsoffs{

}
.Offers .offersbyme{

}
.Offers .buttonsplacing{
  float: left;
  margin-top:-10%;
}
.Offers .BlueButt{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 120%;
  height: 40px;
  width: 100px;
}
.Offers .offersButton{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 120%;
  height: 40px;
  width: 100px;
}
.Offers .offersButton:active{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 120%;
  height: 40px;
  width: 100px;
}
.Offers .ReactModal__Content{
  height: 100px;
}
.Offers .ReactModal__Content .ReactModal__Content--after-open{
  height: 100px;

}
.Offers .offersButton:focus{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 120%;
  height: 40px;
  width: 100px;
}
.Offers .offersButton2{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 120%;
  height: 40px;
  width: 100px;
}
.Offers .offersButton2:active{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 120%;
  height: 40px;
  width: 100px;
}
.Offers .offersButton2:focus{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 120%;
  height: 40px;
  width: 100px;
}

/* My Account */
.MyAccount .AdItem{
  margin-top:2%;
  overflow: hidden;
  border-radius: 0.5px;
  box-shadow:5px 6px 6px #bfbdc1, -1px -1px 6px #bfbdc1;
  height: 120px;
  width: 450px;
  margin-left: 10%;
  display:flex;

}
.MyAccount .package_description{
  width: 40%;
  font-size: 90%;
  margin-top:-3%;

  /* text-align: left; */
}
.MyAccount .package_title{
  width: 15%;
  /* text-align: left; */
  /* margin-left:-25%; */
  margin-right:20%;
}
.MyAccount .package_price{
  width: 50%;


  /* text-align: right; */
}
.MyAccount .package_img{
  width: 100% !important;
  margin-left:-100%;
  margin-top:25%;
}

.MyAccount .edit{
  float: right;
}
.MyAccount .CheckedImage{
  height: 12px;
  object-fit: cover;
  float: right;
 }
 .MyAccount .edit_pass_image{
   height: 12px;
   object-fit: cover;

 }
.MyAccount .lower-section{
  font-family: proxr;
  font-size: 50%;
}
.password_success_toast{
  background-color: #156dbf;
  margin-top: 15%;
  color: #ffffff;
}
.password_fail_toast{
  margin-top: 15%;
  color: #ffffff;
}
.MyAccount .name_input{
  width: 100% !important;
  text-align: left;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.MyAccount .currency_input{
  width: 100% !important;
  /* margin-left: -10%; */
  text-align: left;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.MyAccount .update_button{
  margin-top:10%;
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 120%;
  /* height: 40px; */
  /* width: 40%; */
  float: right;
  padding: 1%;
}

.MyProfile{
  overflow: hidden;
  /* height: 150px; */
  width: 70%;
  /* display: flex; */
  justify-content: left;
  align-items: left;
  align-self: left;
  align-content: left;
}
.user_img{
  border: 3px solid;
  border-color: #156dbf;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
}
.img_div{
  float: left;
}
.name{
  margin-left: -30%;
}
.picture_area{

}
.upload_image{
  margin-left: -32%;
}
.for_text{
  font-size: 50%;
  margin-left: 5%;
}
.package_name{
  font-size: 200%;
  color: #156dbf;
  float: right;
  margin-right: 1%;
}
.upgrade{
  font-size: 150%;
  cursor: pointer;
  font-family:proxr;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  height: 10%;
  width: 12%;
  float: right;
}
.bar{
  height: 8px;
  width: 100%;
}



.userKeys{
  width:30%;
  /* padding:10px; */
  text-align: left;
  font-size:12px;
  font-family: proxs;
  /* height: 25px; */
  /* margin-bottom: 4px; */
}
.userValue{
  width:70%;
  /* padding:10px; */
  text-align: left;
  font-size:12px;
  /* vertical-align: top; */
  overflow: hidden;
  font-family: proxr;

  /* height: 25px; */
/* margin-bottom: 4px; */
}
.users_details
{
  font-size: 100%;
  width: 100% !important;
}
.box{

display: flex;
flex-wrap: wrap;
}
.box>* {
    flex: 1 1 200px;
}

/* Messages */
.Messages .counter_offer_button{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 100%;
  height: 40px;
  width: 20%;
  float: right;
  margin-top: 3%;
  margin-right: 2%;
}
.Messages .actions_offer_button{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 100%;
  height: 40px;
  width: 20%;
  float: right;
  margin-top: 3%;
  margin-right: 2%;
}
.Messages .actions1_offer_button{
  font-family:proxr;
  background-color: white;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#156dbf;
  font-size: 100%;
  height: 40px;
  width: 20%;
  float: right;
  margin-top: 3%;
  margin-right: 2%;

}
.Messages .MessagesScreen{
  /* border:1px solid black; */
  height: 100%;
  width: 80%;

}
.Messages .inchat{
  overflow:scroll;
  overflow-x:hidden;
  height:350px;
}
.Messages .ItemImage
{
  height: 35px;
  margin-top:6%;
  width: 20%;
  object-fit: scale-down;
}
.Messages .topscreen{
  background-color: #f1f1f1;
  height: 80px;
  border-bottom: 2px outset #5a555e;
  margin-bottom:5px;
}
.Messages .ad_title{
  font-family: proxs;
  color:#5a555e;
  margin-left: 10%;
}
.Messages .ad_detail{
  font-family: proxr;
  color:#5a555e;
  float: left;
  margin-left: 3%;
}
.Messages .chats{
  height: 80px;
  margin-bottom: 3%;
  padding-bottom: 5px;
  border-bottom: 0.5px outset #5a555e;
  width: 70%;
  /* border-style: groove; */
}
.Messages .bottomscreen{

}
.Messages .msg_area{
  font-size: 100%;
  font-family: proxr;
  outline: none;
  width: 70%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  /* margin-left: 3%; */
  margin-top: 5%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  color: #342d38;
  float: left;
}
.Messages .user_img{
  border: 3px solid;
  border-color: #156dbf;
  /* position: absolute; */
  border-radius: 50%;
  object-fit: cover;
}
.Messages .ad_img{
  border: 3px solid;
  border-color: #156dbf;
  border-radius: 50%;
  object-fit: cover;
  float: left;
}
.Messages .img_div{
  float: left;
}
.Messages .AdTitle{
  margin-left: 20%;
  width: 30%;
  margin-bottom: 1%;
  /* display: block; */
  /* word-wrap: break-word; */
  /* overflow: hidden; */
  /* max-height: 3.6em; */
  /* line-height: 1.8em; */

  /* -webkit-box-orient: vertical; */
  text-overflow: ellipsis;
  /* float:left; */
  /* margin-bottom:5px; */
  /* width: 100%; */
  /* text-overflow: clip; */
  /* height: 15%; */
}
.Messages .Ad_name{
  margin-left: 20%;
  width: 30%;
  text-overflow: ellipsis;
  color: #5a555e;
  font-size: 60%;
  font-style: italic;
  margin-bottom: 1%;

}
.Messages .Ad_message{
  margin-left: 20%;
  width: 100%;
  text-overflow: ellipsis;
  color: #342d38;
}
.Messages .mychat{
  float: right;
  text-align: right;
  width: 60%;
  text-overflow: ellipsis;
  color: #ffffff;
  background-color: #156dbf;
  border-radius: 5px 5px 5px 5px;
  padding: 1%;
  margin-bottom: 0.5%;
}
.Messages .hischat{
  float: left;
  text-align: left;
  width: 60%;
  text-overflow: ellipsis;
  color: #342d38;
  background-color: #f2f2f2;
  border-radius: 5px 5px 5px 5px;
  padding: 1%;
  margin-bottom: 0.5%;
}

/* purhases classes are here */
.Purchases .CheckedImage{
  float: right;
  font-size: 70%;
  font-family: proxr;
}
.Purchases .storage_color_image{
  align: left;
  object-fit:scale-down;
  height:80%;
}
.Purchases .rightdiv{
  display: flex;
  padding: 0px;
  font-family: proxs;
  margin-bottom:2px;
  margin-left:-5px;
  width: 100%;
  height: 10%;
  align-items: center;
}
.Purchases .pricediv{
  margin-top: 5%;
  display: flex;
  align-items: baseline;
}
.Purchases .AdItem{
  margin-bottom:2%;
  overflow: hidden;
  border-radius: 0.5px;
  box-shadow:5px 6px 6px #bfbdc1, -1px -1px 6px #bfbdc1;
  height: 150px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.Purchases .ImageSide{
  height: 100%;
  width: 50%;
}

.Purchases .ImageSideImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Purchases .DescriptionSide{
  /* background-color: #f4f4f4; */
  height: 100%;
  width: 50%;
  font-size:40%;
  margin-left:5px;

}

.Purchases  .AdDescription{
  float:left;
  text-Align:left;
  font-size: 130%;
  margin-bottom:10px;
  width: 100%;
  text-overflow: clip;
  height: 20%;
}
.Purchases .AdTitle{
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;

  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  float:left;
  margin-bottom:5px;
  width: 100%;
  text-overflow: clip;
  height: 15%;

}

/* //help */

.Help{
  /* float: left; */
}
.Help .update_button{
  margin-top:10%;
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 120%;
  /* height: 40px; */
  /* width: 40%; */
  float: right;
  padding: 1%;
}
.Help .Formtitle{
  text-align: left;
  float: left;
  margin-left: 5%;
  font-family: proxs;
  color: #342d38;
  font-size: 150%;
}
