<mat-toolbar style="background-color:#FFFFFF">
  <mat-toolbar-row fxLayoutAlign="space-between center" class="logo-toolbar theme-container" style="background-color:#FFFFFF">
      <a class="logo" routerLink="/"  (click) ="closeSubMenus()">
      <img src="assets/images/icons/logo.png" height=80 style="margin-left:100%"/>
    </a>

  </mat-toolbar-row>
</mat-toolbar>


  <div label="Billing address" [hidden]="!billing">
    <form [formGroup]="billingForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <span class="text-muted"> Billing Address</span>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="First name" formControlName="firstName" required>
              <!-- <mat-error *ngIf="billingForm.controls.firstName.errors?.required">First name is required</mat-error> -->
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Last name" formControlName="lastName" required>
              <!-- <mat-error *ngIf="billingForm.controls.lastName.errors?.required">Last name is required</mat-error> -->
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Middle Name/Initial" formControlName="middleName">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="billingForm.controls.email.errors?.required">Email is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input type="number" matInput placeholder="Phone" formControlName="phone" required>
              <mat-error *ngIf="billingForm.controls.phone.errors?.required">Phone is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Country" formControlName="country" required>
              <mat-option *ngFor="let country of countries" [value]="country.name">
                  {{country.name}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="billingForm.controls.country.errors?.required">Country is required</mat-error> -->
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="City" formControlName="city" required>
              <!-- <mat-error *ngIf="billingForm.controls.city.errors?.required">City is required</mat-error> -->
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="State/Province" formControlName="state">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input type="number" matInput placeholder="Zip/Postal Code" formControlName="zip" required>
              <!-- <mat-error *ngIf="billingForm.controls.zip.errors?.required">Zip/Postal Code is required</mat-error> -->
          </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Address (street, apartment, suite, unit etc.)" formControlName="address" required>
              <!-- <mat-error *ngIf="billingForm.controls.address.errors?.required">Address is required</mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab color="primary" style="background-color:white; border: 1px solid; border-color:#156dbf" matTooltip="Next" matTooltipPosition="after" (click)="enteraddress()"><mat-icon style="color:#156dbf; ">navigate_next</mat-icon></button>
      </div>
    </form>
  </div>

  <div label="Add Card" [hidden]="!newcard">
    <form [formGroup]="addcardForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <span class="text-muted">Add New Credit Card</span>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">

          <mat-form-field class="w-100">
            <mat-select placeholder="Your Country" formControlName="Country" required>
              <mat-option *ngFor="let country of countries" [value]="country.name">
                  {{country.name}}
              </mat-option>
            </mat-select>
              <mat-error *ngIf="addcardForm.controls.Country.errors?.required">Card holder name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input type="number" matInput placeholder="Card Number" formControlName="cardNumber" maxlength="16" required>
              <mat-error *ngIf="addcardForm.controls.cardNumber.hasError('minlength')">Card Number isn't valid, minimum of 16 characters</mat-error>
              <mat-error *ngIf="addcardForm.controls.cardNumber.errors?.required">Card number is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="address country" formControlName="addresscountry" required>
              <mat-error *ngIf="addcardForm.controls.addresscountry.errors?.required">Card holder name name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="address zip" formControlName="addresszip" required>
              <mat-error *ngIf="addcardForm.controls.addresszip.errors?.required">Card number is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Expiry month" formControlName="ExpiryMonth" required>
              <mat-option *ngFor="let month of months" [value]="month.value">
                  {{month.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addcardForm.controls.ExpiryMonth.errors?.required">Expired month is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Expiry year" formControlName="ExpiryYear" required>
              <mat-option *ngFor="let year of years" [value]="year.value">
                  {{year.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addcardForm.controls.ExpiryYear.errors?.required">Expired year is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input type="number" matInput placeholder="CSV" formControlName="csv" maxlength="3" required>
              <mat-error *ngIf="addcardForm.controls.csv.errors?.required">CSV is required</mat-error>
              <mat-error *ngIf="addcardForm.controls.csv.hasError('minlength')">CSV isn't valid, minimum of 3 characters</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab style="background-color:white; border: 1px solid; border-color:#156dbf" matTooltip="Submit" class="mr-1" (click)="add_card(addcardForm.value)"><mat-icon style="color:#156dbf">payment</mat-icon></button>
      </div>
    </form>

</div>

  <div label="Payment method" [hidden]="!payment">

    <form [formGroup]="paymentForm">
      <div fxLayout="row wrap">

        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
            <span class="text-muted">Don't Have a Card ?</span>
            <button class="add_card_but" mat-raised-button style="background-color:white; color:#156dbf; border: 1px solid; border-color:#156dbf" (click)="showcard()">Add Card</button>
          </div>

          <!-- <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
          </div> -->
          <span class="text-muted">Credit Card</span>
          <mat-form-field class="w-100">
            <mat-select placeholder="Select Card" formControlName="Card" required>
              <mat-option *ngFor="let card of cards"  [value]="card.id">
                <img [src]="card.image" class="images">
                        {{card.brand}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.Card.errors?.required">Card required</mat-error>
          </mat-form-field>
          <!-- <img src="assets/images/others/card-icon.png" alt=""> -->
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input type="number" matInput placeholder="Amount" formControlName="Amount" required>
              <mat-error *ngIf="paymentForm.controls.Amount.errors?.required">Amount required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Expired month" formControlName="expiredMonth" required>
              <mat-option *ngFor="let month of months" [value]="month.value">
                  {{month.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredMonth.errors?.required">Expired month is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Expired year" formControlName="expiredYear" required>
              <mat-option *ngFor="let year of years" [value]="year.name">
                  {{year.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredYear.errors?.required">Expired year is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Currency" formControlName="currency" required>
              <mat-error *ngIf="paymentForm.controls.currency.errors?.required">Currency is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <!-- <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>expand_less</mat-icon></button> -->
        <button mat-mini-fab style="background-color:white; border: 1px solid; border-color:#156dbf" matTooltip="Next" matTooltipPosition="after" (click)="makepayment(paymentForm.value)"><mat-icon style="color:#156dbf">navigate_next</mat-icon></button>
      </div>
    </form>

  </div>






  <div label="Delivery method" [hidden]="!deliver">
    <form [formGroup]="deliveryForm" class="p-2">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <span class="text-muted"> Delivery Method</span>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="By Name of" formControlName="senderName" required>
              <mat-error *ngIf="deliveryForm.controls.senderName.errors?.required">Sender name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Courier Service Name" formControlName="courier" required>
              <mat-error *ngIf="deliveryForm.controls.courier.errors?.required">Courier service name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Tracking Id" formControlName="track" required>
              <mat-error *ngIf="deliveryForm.controls.track.errors?.required">Tracking ID is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab style="background-color:white; border: 1px solid; border-color:#156dbf" matTooltip="Next" matTooltipPosition="after" (click)="entercourier()"><mat-icon style="color:#156dbf">navigate_next</mat-icon></button>
      </div>
      <!-- <mat-radio-group formControlName="deliveryMethod" fxLayout="column" fxLayoutAlign="center" required name="methods">
        <mat-radio-button *ngFor="let method of deliveryMethods" color="primary" [value]="method" class="mt-1"><b>{{method.name}}</b> {{method.desc}}</mat-radio-button>
      </mat-radio-group>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>expand_less</mat-icon></button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>expand_more</mat-icon></button>
      </div> -->
    </form>
  </div>
  <!-- <mat-step [stepControl]="paymentForm" label="Payment method">
    <form [formGroup]="paymentForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <span class="text-muted">Credit Card</span>
          <img src="assets/images/others/card-icon.png" alt="">
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Card holder name" formControlName="cardHolderName" required>
              <mat-error *ngIf="paymentForm.controls.cardHolderName.errors?.required">Card holder name name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Card number" formControlName="cardNumber" required>
              <mat-error *ngIf="paymentForm.controls.cardNumber.errors?.required">Card number is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Expired month" formControlName="expiredMonth" required>
              <mat-option *ngFor="let month of months" [value]="month.value">
                  {{month.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredMonth.errors?.required">Expired month is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Expired year" formControlName="expiredYear" required>
              <mat-option *ngFor="let year of years" [value]="year">
                  {{year}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredYear.errors?.required">Expired year is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="CVV" formControlName="cvv" required>
              <mat-error *ngIf="paymentForm.controls.cvv.errors?.required">CVV is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>navigate_before</mat-icon></button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>navigate_next</mat-icon></button>
      </div>
    </form>
  </mat-step> -->




  <div label="Confirmation" [hidden]="!confirm">
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center">
      <button mat-fab style="background-color:#156dbf; " (click)="confirmdelivery()"><mat-icon style="color:white">check</mat-icon></button>
      <h2 class="py-2">Check! If your order has been processed</h2>
      <p class="text-muted">Thank You for shopping with Celx</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <a [routerLink]="['/']" mat-raised-button style="background-color:white; color:#156dbf; border: 1px solid; border-color:#156dbf">Return to Shop</a>
    </div>

  </div>

  <div label="For Buyer" [hidden]="!buyer">
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center">
      <h2 class="py-2">Waiting For Courier Departure</h2>
      <!-- <p class="text-muted">Thank You for shopping with Celx</p> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <a [routerLink]="['/']" mat-raised-button style="background-color:white; color:#156dbf; border: 1px solid; border-color:#156dbf">Return to Shop</a>
    </div>

  </div>

  <div label="For Seller" [hidden]="!seller">
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center">
      <h2 class="py-2">Waiting For Address or Payment</h2>
      <!-- <p class="text-muted">Thank You for shopping with Celx</p> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <a [routerLink]="['/']" mat-raised-button style="background-color:white; color:#156dbf; border: 1px solid; border-color:#156dbf">Return to Shop</a>
    </div>

  </div>
  <div label="For Seller" [hidden]="!receive">
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center">
      <h2 class="py-2">Courier successfully delivered.</h2>
      <!-- <p class="text-muted">Thank You for shopping with Celx</p> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <a [routerLink]="['/']" mat-raised-button style="background-color:white; color:#156dbf; border: 1px solid; border-color:#156dbf">Return to Shop</a>
    </div>

  </div>




<!-- <mat-vertical-stepper #verticalStepper linear="true" class="mat-elevation-z2" fxHide="false" fxHide.gt-sm>
  <mat-step [stepControl]="billingForm" label="Billing address">
    <form [formGroup]="billingForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="First name" formControlName="firstName" required>
              <mat-error *ngIf="billingForm.controls.firstName.errors?.required">First name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Last name" formControlName="lastName" required>
              <mat-error *ngIf="billingForm.controls.lastName.errors?.required">Last name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Middle Name/Initial" formControlName="middleName">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="billingForm.controls.email.errors?.required">Email is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Phone" formControlName="phone" required>
              <mat-error *ngIf="billingForm.controls.phone.errors?.required">Phone is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Country" formControlName="country" required>
              <mat-option *ngFor="let country of countries" [value]="country">
                  {{country.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="billingForm.controls.country.errors?.required">Country is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="City" formControlName="city" required>
              <mat-error *ngIf="billingForm.controls.city.errors?.required">City is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="State/Province" formControlName="state">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Zip/Postal Code" formControlName="zip" required>
              <mat-error *ngIf="billingForm.controls.zip.errors?.required">Zip/Postal Code is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Address (street, apartment, suite, unit etc.)" formControlName="address" required>
              <mat-error *ngIf="billingForm.controls.address.errors?.required">Address is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>expand_more</mat-icon></button>
      </div>
    </form>
  </mat-step>


  <mat-step label="Review Order">

  </mat-step>




  <mat-step label="Confirmation">
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center">
      <button mat-fab color="primary" click="confirm()"><mat-icon>check</mat-icon></button>
      <h2 class="py-2">Check! If Your processed</h2>
      <p class="text-muted lh">Thank You For Shopping With Us.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <a [routerLink]="['/']" mat-raised-button color="primary">Return to Shop</a>
    </div>
  </mat-step>


</mat-vertical-stepper> -->
